# SPDX-FileCopyrightText: 2015 Mathieu Stefani
#
# SPDX-License-Identifier: CC0-1.0

# Build files
/*build*/
/tests/build*/

# Soft links to favorite build convenience files
/build.sh
/builddebug.sh
/copyall.sh

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignoring IDE files

.vscode
.idea

# macOS .DS_Store has custom attributes of containing folder
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

.DS_Store
**/.DS_Store

# Vim swap files
.*.swp

# Clangd cache
/.cache/clangd

# Ad hoc scripts to run tests repeatedly
repeat_*.sh
repeatx86_*.sh

# Meson Wrap DB cache
/subprojects/*
!/subprojects/*.wrap

!/subprojects/cpp-httplib
!/subprojects/hinnant-date
*.*~

/How To Run All Tests (README).txt
