# SPDX-FileCopyrightText: 2019-2023 Kip Warner
#
# SPDX-License-Identifier: Apache-2.0

Source: pistache
Section: libs
Priority: optional
Maintainer: Kip Warner <kip@thevertigo.com>
Standards-Version: 4.6.0
Build-Depends: debhelper-compat (= 13), meson (>= 0.50.0)
Build-Depends-Arch: libcurl4-openssl-dev,
                    libgmock-dev (>= 1.11.0) <!nocheck> | googletest (>= 1.11.0) <!nocheck>,
                    libhpptools-dev,
                    libssl-dev,
                    netbase <!nocheck>,
                    pkg-config,
                    rapidjson-dev
Vcs-Git: https://github.com/pistacheio/pistache.git
Vcs-Browser: https://github.com/pistacheio/pistache
Homepage: https://pistacheio.github.io/pistache/
Rules-Requires-Root: no

Package: libpistache0
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: elegant C++ REST framework
 Pistache is a modern and elegant HTTP and REST framework for C++.
 It is entirely written in pure C++17 and provides a clear and pleasant API.
 .
 Pistache provides both an HTTP server and client that can be used to create and
 query complex web and REST APIs.
 .
 This package contains the shared library built with TLS support.

Package: libpistache-dev
Section: libdevel
Architecture: any
Depends: libpistache0 (= ${binary:Version}),
         libssl-dev,
         rapidjson-dev,
         ${misc:Depends}
Description: elegant C++ REST framework - development files
 Pistache is a modern and elegant HTTP and REST framework for C++.
 It is entirely written in pure C++17 and provides a clear and pleasant API.
 .
 Pistache provides both an HTTP server and client that can be used to create and
 query complex web and REST APIs.
 .
 This package contains the development headers, static library, and examples.
 The static library was built with TLS support.
