#!/usr/bin/make -f

# SPDX-FileCopyrightText: 2019-2023 Kip Warner
#
# SPDX-License-Identifier: Apache-2.0

# Output every command that modifies files on the build system...
# export DH_VERBOSE = 1

# Set flags for how the package will be compiled and built. Note separated with
#  white space and not comma, as per DPM § 4.9.1...

# Set various group related security hardening build flags for format,
#  fortify, stackprotector, relro, bindnow, and pie...
export DH_BUILD_MAINT_OPTIONS = hardening=+all

export LC_ALL = C.UTF-8

# Main packaging script based on debhelper 7 syntax. The % is an implicit
#  pattern rule that acts as a universal target...
%:
	dh $@ --buildsystem=meson

# Check if tests are disabled
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
  test := true
else
  test := false
endif

# Configure source...
override_dh_auto_configure:
	dh_auto_configure -- \
		--default-library=both \
		-DPISTACHE_BUILD_EXAMPLES=true \
		-DPISTACHE_BUILD_TESTS=$(test) \
		-DPISTACHE_BUILD_DOCS=false \
		-DPISTACHE_USE_SSL=true \
		-DPISTACHE_USE_CONTENT_ENCODING_BROTLI=true \
		-DPISTACHE_USE_CONTENT_ENCODING_DEFLATE=true \
		-DPISTACHE_USE_CONTENT_ENCODING_ZSTD=true
override_dh_auto_test:
	dh_auto_test -- \
		--no-suite=network
